@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

body {
  background-color: black;
  color: white;
  margin: 0 auto;
  max-width: 1800px;
}

#root {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.timeline {
  flex: 0 0 600px;
  font-family: "Inter", sans-serif;
  border-left: 1px solid #2f3336;
  border-right: 1px solid #2f3336;
}

.header {
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #2f3336;
}

.top-tweets {
  width: 1.5rem;
  height: auto;
}

.page-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.tweet-editor {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  padding: 0.3rem 1rem;
  border-bottom: 1px solid #2f3336;
}

.avatar {
  flex: 0 0 70px;
  padding: 0;
  img {
    max-width: 100%;
    max-height: 100px;
    border-radius: 100%;
    margin: 0;
  }
}

.avatar-details {
  display: flex;
  align-items: flex-start;
  gap: 5px;
  .labels {
    width: 100px;
  }
}

.tweet-editor-form {
  flex: auto;
}

.tweet-editor-input {
  height: 60px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 1.3rem;
  background-color: black;
  color: white;
  resize: none;
  padding: 10px 0 0 0;
  margin: 13px 0;
}

.tweet-editor-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .button {
    padding: 0.7rem 1.5rem;
    border: none;
    border-radius: 50px;
    background-color: #1d9bf0;
    color: white;
    font-size: 1rem;
  }
}

.tweet-editor-actions {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  button {
    background-color: transparent;
    border: none;
  }
}

.sidebar > :first-child button {
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 50px;
  background-color: #1d9bf0;
  color: white;
  font-size: 1.2rem;
  height: 50px;
}

.tweet {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  padding: 1rem;
  border-bottom: 1px solid #2f3336;
}

.tweet-avatar {
  flex: 0 0 70px;
  img {
    max-width: 100%;
    max-height: 100px;
    border-radius: 100%;
  }
}

.tweet-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  width: 100%;
}
.tweet-body {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.tweet-title {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  font-size: 1rem;
  svg {
    width: 1.2rem;
    height: auto;
  }
}
.tweet-title-author {
  font-weight: 500;
  font-size: 1rem;
}
.tweet-title-details {
  color: #6e767d;
}
.tweet-text {
  color: #d9d9d9;
  font-size: 1rem;
}

.tweet-image {
  max-width: 100%;
  padding: 0.3rem 0 0 0;
  img {
    max-width: 100%;
    height: auto;
    border-radius: 50px;
    border-color: #2f3336;
    border-style: solid;
    border-width: 1px;
  }
}

.tweet-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: grey;
  font-size: 1rem;
  width: 100%;
  svg {
    width: 1.3rem;
    height: auto;
    color: #2f3336;
  }
}

.tweet-action * {
  transition: 0.15s;
}

.tweet-action1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 16px;
  font-family: "Inter";
  background-color: transparent;
  border: none;
  color: #65686a;
  &:hover {
    cursor: pointer;
  }
}

.react,
.retweet,
.reply,
.share {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.tooltip {
  font-size: small;
  background-color: #1a3948;
  color: white;
  visibility: hidden;
  opacity: 0;
  margin: 3px;
  padding: 2px;
}
.tweet-action1:active + .tooltip {
  visibility: visible;
  opacity: 1;
}

/* Definition de la variable hue */
.tweet-action1:hover {
  .share {
    --hue: 56;
  }
  .react,
  .react + span {
    --hue: 210;
  }
  .reply,
  .reply + span {
    --hue: 150;
  }
  .retweet,
  .retweet + span {
    --hue: 0;
  }
}

/* Utilisation de la variable on hover de tweet-action1*/
.tweet-action1:hover {
  .share,
  .react,
  .reply,
  .retweet {
    background-color: hsl(var(--hue), 30%, 20%);
  }

  .share path,
  .react path,
  .reply path,
  .retweet path,
  .react + span,
  .reply + span,
  .retweet + span {
    fill: hsl(var(--hue), 90%, 70%);
    color: hsl(var(--hue), 90%, 70%);
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  width: 260px;
  > :first-child {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

.item-menu {
  display: flex;
  gap: 20px;
  align-items: center;
  img {
    width: 24px;
  }
}

.item-menu span,
.tag {
  font-weight: 600;
  font-size: 19px;
  font-family: "inter";
  color: #cacaca;
}

.profile-settings {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 1rem;
  justify-content: space-between;
  button {
    padding: 7px 15px;
    width: 90px;
    height: 40px;
    border-radius: 40px;
    border: none;
  }
}

.search-box {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 10px 20px;
  height: 25px;
  background: #202327;
  border-radius: 25px;
  input {
    height: 20px;
    background-color: #202327;
    border: none;
    outline: none;
    font-size: 17px;
    color: white;
  }
}

.trends {
  width: 380px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: inter;
}

.trend-lists {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.trend-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trend-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  .title {
    font-weight: 600;
    font-size: 22px;
    font-family: "inter";
    color: #cacaca;
  }
}

.trend-lists {
  background-color: #202327;
  border-radius: 25px;
  padding: 20px;
}

.show-more {
  color: #1d9bf0;
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.heading-profile {
  height: 100px;
  margin: 20px;
  background-color: #434242;
  div {
    position: relative;
    top: 65px;
    left: 70px;
    height: 80px;
    width: 80px;
    background-color: #20303b;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .error-page {
    background-color: rgb(188, 0, 0);
    border-radius: 5%;
    width: 200px;
    box-shadow: rgba(255, 0, 0, 0.4) 0px 2px 4px,
      rgba(255, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(255, 0, 0, 0.2) 0px -3px 0px inset;
  }
}

footer {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  flex-wrap: wrap;
  color: #6e767d;
}
