@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

body {
  background-color: black;
  color: white;
  margin: 0 auto;
  max-width: 1800px;
}

#root {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.timeline {
  flex: 0 0 660px;
  font-family: "Inter", sans-serif;
  border-left: 1px solid #2f3336;
  border-right: 1px solid #2f3336;
}

.header {
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #2f3336;
}

.top-tweets {
  width: 1.5rem;
  height: auto;
}

.page-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.tweet-editor {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  padding: 0.3rem 1rem;
  border-bottom: 1px solid #2f3336;
}

.avatar {
  flex: 0 0 70px;
  padding: 0;
}

.avatar img {
  max-width: 100%;
  max-height: 100px;
  border-radius: 100%;
  margin: 0;
}

.avatar-details {
  display: flex;
  gap: 10px;
  align-items: flex-start;
}

.tweet-editor-form {
  flex: auto;
}

.tweet-editor-input {
  height: 60px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 1.3rem;
  background-color: black;
  color: white;
  resize: none;
  padding: 10px 0 0 0;
  margin: 13px 0;
}

.tweet-editor-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tweet-editor-actions {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /*padding: 0.8rem 0;*/
  gap: 1rem;
}
.tweet-editor-actions button {
  background-color: transparent;
  border: none;
}
.button {
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 50px;
  background-color: #1d9bf0;
  color: white;
  font-size: 1rem;
}
.tweet {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  padding: 1.5rem 1rem;
  border-bottom: 1px solid #2f3336;
}

.tweet-avatar {
  flex: 0 0 70px;
}

.tweet-avatar img {
  max-width: 100%;
  max-height: 100px;
  border-radius: 100%;
}
.tweet-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
  width: 100%;
}
.tweet-body {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.tweet-title {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  font-size: 1rem;
}

.tweet-title svg {
  width: 1.2rem;
  height: auto;
}
.tweet-title-author {
  font-weight: 500;
  font-size: 1rem;
}
.tweet-title-details {
  color: #6e767d;
}
.tweet-text {
  color: #d9d9d9;
  font-size: 1rem;
}

.tweet-image {
  max-width: 100%;
  padding: 0.3rem 0 0 0;
}

.tweet-image img {
  max-width: 100%;
  height: auto;
  border-radius: 50px;
  border-color: #2f3336;
  border-style: solid;
  border-width: 1px;
}

.tweet-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  color: grey;
  font-size: 1rem;
}

.tweet-actions svg {
  width: 1rem;
  height: auto;
  color: #2f3336;
}

.tweet-action {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  width: 260px;
}

.sidebar > :first-child {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.item-menu {
  display: flex;
  gap: 20px;
  align-items: center;
}

.item-menu span,
.tag {
  font-weight: 600;
  font-size: 19px;
  font-family: "inter";
  color: #cacaca;
}

.item-menu img {
  width: 24px;
}

.profile-settings {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 1rem;
  justify-content: space-between;
}

.profile-settings button {
  padding: 7px 15px;
  width: 90px;
  height: 40px;
  border-radius: 40px;
  border: none;
}

.search-box {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 10px 20px;
  height: 25px;
  background: #202327;
  border-radius: 25px;
}

.search-box input {
  height: 20px;
  background-color: #202327;
  border: none;
  outline: none;
  font-size: 17px;
  color: white;
}

.trends {
  width: 380px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: inter;
}

.trend-lists {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.trend-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.trend-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.trend-content .title {
  font-weight: 600;
  font-size: 22px;
  font-family: "inter";
  color: #cacaca;
}

.trend-lists {
  background-color: #202327;
  border-radius: 25px;
  padding: 20px;
}

.show-more {
  color: #1d9bf0;
  font-size: 1.2rem;
}

footer {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  flex-wrap: wrap;
  color: #6e767d;
}
